<mat-toolbar color="primary">
  <span>Edit User</span>
</mat-toolbar>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="user-edit-form">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="first_name" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="last_name" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Avatar</mat-label>
      <input matInput formControlName="avatar" />
    </mat-form-field>

    <div>
      <button mat-flat-button (click)="back()">Cancel and Back</button>
      <button
        type="submit"
        mat-flat-button
        color="primary"
        [disabled]="form.invalid"
      >
        Save
      </button>
    </div>
  </div>
</form>
<ng-http-loader backgroundColor="#7b1fa2"> </ng-http-loader>
